---
import DirectParent from '../components/DirectParent.astro';
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Direct Import Test</title>
</head>
<body>
  <h1>Direct Import Test</h1>
  <p>Parent component directly imports its children - static analysis should work!</p>
  
  <DirectParent />
</body>
</html>
