---
import TestComponent from '../components/TestComponent.astro';
import ConditionalComponent from '../components/ConditionalComponent.astro';

const pageStart = Date.now();
const showConditional = Astro.url.searchParams.get('showConditional') === 'true';
---

<html>
  <head>
    <title>E2E Parallel Test</title>
  </head>
  <body>
    <h1>Parallel Loader Test</h1>
    <div data-render-start={pageStart}>
      <TestComponent name="Slow1" className="test-slow1" />
      <TestComponent name="Slow2" className="test-slow2" />
      <TestComponent name="Slow3" className="test-slow3" />
      {showConditional && <ConditionalComponent />}
    </div>
  </body>
</html>
