---
import PerfLoaderWrapper from '../components/PerfLoaderWrapper.astro';
---

<html>
  <head>
    <title>Performance Test - Parallel Loaders</title>
  </head>
  <body>
    <h1>Parallel Loader Execution (Nested)</h1>
    <PerfLoaderWrapper />
  </body>
</html>
