---
import PerfLoaderLevel1 from '../components/PerfLoaderLevel1.astro';
import PerfLoaderLevel2 from '../components/PerfLoaderLevel2.astro';
import PerfLoaderLevel3 from '../components/PerfLoaderLevel3.astro';
---

<html>
  <head>
    <title>Performance Test - Parallel Loaders</title>
  </head>
  <body>
    <h1>Parallel Loader Execution (Nested)</h1>
    <PerfLoaderLevel1>
      <PerfLoaderLevel2>
        <PerfLoaderLevel3 />
      </PerfLoaderLevel2>
    </PerfLoaderLevel1>
  </body>
</html>
