---
import StandardComponent100 from '../components/StandardComponent100.astro';
---

<html>
  <head>
    <title>Performance Test - Standard Async Waterfall</title>
  </head>
  <body>
    <h1>Standard Async Waterfall (Nested)</h1>
    <StandardComponent100 name="PerfStandardLevel1" className="perf-standard-level1">
      <StandardComponent100 name="PerfStandardLevel2" className="perf-standard-level2">
        <StandardComponent100 name="PerfStandardLevel3" className="perf-standard-level3" />
      </StandardComponent100>
    </StandardComponent100>
  </body>
</html>
