---
import { getLoaderData } from 'astro-auto-load/runtime';

export const loader = async () => {
  const start = Date.now();
  await new Promise((resolve) => setTimeout(resolve, 50));
  const duration = Date.now() - start;
  return { component: 'conditional', start, duration };
};

const data = await getLoaderData<typeof loader>();
---

<div data-component="conditional" data-start={data?.start} data-duration={data?.duration}>
  ConditionalComponent: {data?.duration}ms
</div>
