---
import { getLoaderData, registerLoader } from 'astro-auto-load/runtime';

export const loader = async () => {
  const start = Date.now();
  await new Promise((resolve) => setTimeout(resolve, 100));
  return { start, duration: Date.now() - start };
};

const data = await getLoaderData<typeof loader>();
---

<div class="perf-loader-level3" data-start={data.start} data-duration={data.duration}>
  <p>Loader Level 3 (took {data.duration}ms)</p>
</div>
