---
import { getLoaderData } from 'astro-auto-load/runtime';

export const loader = async () => {
  const start = Date.now();
  await new Promise((resolve) => setTimeout(resolve, 50));
  const duration = Date.now() - start;
  return { component: 'SlotChild2', start, duration };
};

const data = await getLoaderData<typeof loader>();
---

<div class="slot-child-2" data-start={data.start} data-duration={data.duration}>
  <h4>Slot Child 2 (took {data.duration}ms)</h4>
  <slot />
</div>
