---
// Traditional async approach - no loader, just async/await in frontmatter
const start = Date.now();
await new Promise((resolve) => setTimeout(resolve, 50));
const duration = Date.now() - start;
---

<div class="standard-async-component-1" data-start={start} data-duration={duration}>
  <h3>StandardAsyncComponent1 (async: {duration}ms)</h3>
  <slot />
</div>
