---
import WaterfallChild1 from './WaterfallChild1.astro';

const start = Date.now();
await new Promise((resolve) => setTimeout(resolve, 100));
const duration = Date.now() - start;
---

<div class="waterfall-child2" data-start={start} data-duration={duration}>
  <p>WaterfallChild2: standard async, took {duration}ms</p>
  <WaterfallChild1 />
</div>
