---
const start = Date.now();
await new Promise((resolve) => setTimeout(resolve, 100));
const duration = Date.now() - start;
---

<div class="waterfall-child1" data-start={start} data-duration={duration}>
  <p>WaterfallChild1: standard async, took {duration}ms</p>
  <slot />
</div>
