---
import { getLoaderData, type Loader } from 'astro-auto-load/runtime';

type Data = Loader<typeof loader>;

export const loader = async (context) => {
  const start = Date.now();
  console.log('[UnusedComponent] SHOULD NOT SEE THIS - Loader executing!');
  await new Promise((resolve) => setTimeout(resolve, 100));
  const duration = Date.now() - start;
  return { component: 'UnusedComponent', start, duration };
};

const data = getLoaderData<Data>();
---

<div data-component="unused" data-start={data?.start} data-duration={data?.duration}>
  UnusedComponent: {data?.duration}ms
</div>
