---
import Slow1 from '../components/Slow1.astro';
import Slow2 from '../components/Slow2.astro';
import Slow3 from '../components/Slow3.astro';

const renderStart = Date.now();
---

<html>
  <head>
    <title>E2E Parallel Test</title>
  </head>
  <body>
    <h1>Parallel Loader Test</h1>
    <div data-render-start={renderStart}>
      <Slow1 />
      <Slow2 />
      <Slow3 />
    </div>
  </body>
</html>
